<div class="container">
  <div class="row mt-5">
    <div class="col-6 offset-2">
      <div>
        <span>
          <%= @user.name %>
        </span>
        <span>
          <%= @user.role %>
        </span>
      </div>
      <div>
        <span>
          <%= @user.region %>
        </span>
      </div>
      <div>
        <span>
          <%= @user.email %>
        </span>
      </div>
      <div>
        <span>
          <%= @user.detail_list %>
        </span>
      </div>
      <div class="mt-4">
        <a href="/users/edit" class="btn btn-outline-dark">프로필 수정</a>
      </div>
    </div>
    <div class="col-2">
      <% if current_user.profile.attached? %>
        <img src="<%= url_for(current_user.profile) %>" alt="" class="profile_img rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" area-expanded="true">
      <% else %>
        <img src="https://picsum.photos/200" alt="" class="profile_img rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" area-expanded="true">
      <% end %>
    </div>
  </div>
</div>
