<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @team.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @team.short_desc %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @team.start_date %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
