<div>
  <span class="ball_645 lrg ball<%= @ball_color[0] %>"><%= @lotto_number[0] %></span>
  <span class="ball_645 lrg ball<%= @ball_color[1] %>"><%= @lotto_number[1] %></span>
  <span class="ball_645 lrg ball<%= @ball_color[2] %>"><%= @lotto_number[2] %></span>
  <span class="ball_645 lrg ball<%= @ball_color[3] %>"><%= @lotto_number[3] %></span>
  <span class="ball_645 lrg ball<%= @ball_color[4] %>"><%= @lotto_number[4] %></span>
  <span class="ball_645 lrg ball<%= @ball_color[5] %>"><%= @lotto_number[5] %></span>
</div>
