<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <i>(필수로 입력해주세요.)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(새로운 비밀번호)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %> <i>(새로운 비밀번호 확인)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :profile %><br />
    <%= f.file_field :profile %>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, User.statuses.keys %>
  </div>

  <div class="field">
    <%= f.label :region %><br />
    <%= f.select :region, User.regions.keys %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, User.roles.keys %>
  </div>

  <div class="field">
    <%= f.label :career %> <i>(경력을 입력해주세요.)</i><br />
    <%= f.select :career, (0..10).map{ |n| "#{n}년차" }, selected: "#{resource.career}년차" %>
  </div>

  <div class="field">
    <%= f.label :detail_list %><br />
    <%= f.text_area :detail_list %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<% if false %>
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>

<%= link_to "Back", :back %>
