<table>
    <tr>
        <th width="200">ISBN 코드</th>
        <th width="500">이름</th>
        <th width="100">가격</th>
        <th width="200">출판사</th>
        <th width="150">출간일</th>
        <th width="100">CD-ROM</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td align="center"><%= book.price %></td>
        <td><%= book.publish %></td>
        <td align="center"><%= book.published %></td>
        <td align="center"><%= book.cd %></td>
    </tr>
    <% end %>
</table>
