<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Product Detail</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @pack.product_name %></li>
    </ol>
  </nav>
  <div class="row mt-4">
    <div class="col-6">
      <img src="<%= url_for(@pack.image) %>" class="img-fluid">
    </div>
    <div class="col-6">
      <p><%= @pack.product_name %></p>
      <hr>
      <p><%= @pack.desc %></p>
      <hr>
      <p><%= @pack.company_name %></p>
    </div>
  </div>
</div>
